{% extends "user/layout.html" %}

{% block body %}
    <h1>Hi there, {{ name }}.</h1>
    <h2>Your Balance</h2>
    <table>
        <tr>
            <th>Type</th>
            <th>Amount</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.transaction_type }}</td>
                <td>{{ transaction.amount }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'accounts:logout' %}">Log out.</a>
{% endblock %}