{% extends "user/layout.html" %}

{% block body %}
    <h1>Make transaction</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="{% url 'user:transaction' %}" method="post">
        
        {% csrf_token %}
        <input type="text" name="money">
        <select name="transaction-type">
            <option value="withdraw">Withdraw</option>
            <option value="deposit">Deposit</option>
        </select>
        <input type="submit">
    </form>
{% endblock %}