{% extends "accounts/layout.html" %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <h1>Login.</h1>

    <form action="{% url 'accounts:login' %}" method="post">

        {% csrf_token %}

        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    <p class="text-center">If you do not have an account, <a href="{% url 'accounts:register' %}">register</a> instead.</p>
{% endblock %}
